@mixin breakpoint($point){
    @if $point == mobile{
      @media screen  and (max-width:500px){@content;}
    }
    @else if $point == mobilebig{
        @media screen  and (max-width:700px){@content;}
    }
    @else if $point == laptop{
      @media screen  and (max-width:900px){@content;}
    }
    @else if $point == desktop{
      @media screen  and (max-width:1200px){@content;}
    }
    @else if $point == desktopsmall{
        @media screen and(max-width:1400px){@content;}
    }
    @else if $point == LGdesktop{
      @media screen and (min-width:1401px){@content;}
    }}
$maincolor: #1D3557;
$secondcolor: #457B9D;   
$pink: #E90B33;
$pink1: #FF5A5A;
.addmeasurements{
    background-color: $maincolor;
    height:100%;
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    color:white;
    @include breakpoint(mobile){
        align-items: center;
    }
    &-title{
        display:flex;
        width:100%;
        justify-content:center;
        font-size:2rem;
        font-weight: 600;
        padding:2rem 1rem 0rem 1rem;
    }
    &__container{
        display:flex;
        width:100%;
        height:600px;
        flex-direction: row;
        justify-content: space-evenly;
        padding:2rem;
        align-items: center;
        @include breakpoint(mobile){
            height: 100%;
            min-width: 200px;
            align-items:center;
            padding: 1rem;
            
        }
        @include breakpoint(laptop){
            flex-direction: column;
            height: 100%;
            padding-top:1rem;
            padding-left:0;
            padding-right:0;
            padding-bottom:0;
        }
        
        &__oldmeasurementscontainer{
            background-color:$secondcolor;
            display:flex;
            flex-direction: column;
            padding:1rem 2rem 1rem 2rem;
            min-width: 250px;
            width:500px;
            margin-right: 2rem;
            height:450px;
            @include breakpoint(mobile){
                padding: 0.2rem 0.4rem 1rem 0.4rem;
            }
            @include breakpoint(laptop){
                width:300px;
                height: auto;
                margin:0;
                
                
            }
            @include breakpoint(mobile){
                margin:auto;
                height:auto;
                min-width: 250px;
                width: auto;
            }
            
            

            &-title{
                display:flex;
                width:100%;
                justify-content:center;
                font-size:1.5rem;
                font-weight: 600;
                @include breakpoint(mobile){
                    font-size:1.1rem;
                }
                
            }
            &__data{
                padding-top:1rem;
                display:flex;
                width: 100%;
                justify-content: center;
                &-input{
                    font-size:0.9rem;
                }

            }
            &__elements{
                display:flex;
                flex-direction: column;
                padding-top:2rem;
                &__element{
                    padding-top:0.5rem;
                    font-weight: 600;
                    font-size:1.2rem;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    white-space: nowrap;
                    @include breakpoint(mobile){
                        font-size:0.8rem;
                    }
                    @include breakpoint(laptop){
                        font-size:1rem;
                    }
                    &-result{
                        width:70px;
                        text-align:center;
                    }
                    &-result::after{
                        content: '';
                        display: block;
                        background-color: white;
                        width:70px;
                        height:2px;
                    }
                }
            }
        }
        &__newmeasurementscontainer{
            background-color:$secondcolor;
            display:flex;
            flex-direction: column;
            padding:1rem 2rem 1rem 2rem;
            width:500px;
            height:450px;
            @include breakpoint(laptop){
                width:300px;
                min-width: 200px;
                margin-top: 2rem;
            }
            @include breakpoint(mobile){
                margin-top:1rem;
                height:auto;
                max-width: 250px;
                padding: 0.2rem 0.4rem 0.4rem 0.4rem;
            }
            
            
            &-title{
                display:flex;
                width:100%;
                justify-content:center;
                font-size:1.5rem;
                font-weight: 600;
                @include breakpoint(mobile){
                    font-size: 1.1rem;
                }
            }
            &__data{
                padding-top:1rem;
                display:flex;
                width: 100%;
                justify-content: center;
                &-input{
                    display:block;
                }
                
                &-input::after{
                    display:block;
                    content: "";
                    background-color: white;
                    width:auto;
                    height:2px;
                }
                input{
                    background-color: $secondcolor;
                    border:none
                }
                input::after{
                    content: "";
                    width:200px;
                    height:2px;

                }
            }
            &-data::after{
                content: "";
                background-color: white;
                width:200px;
                height:2px;

            }
            &__elements{
                display:flex;
                flex-direction: column;
                padding-top:2rem;
                
                &__element{
                    font-size:1.2rem;
                    padding-top:0.5rem;
                    font-weight: 600;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    @include breakpoint(mobile){
                        font-size: 0.8rem;
                    }
                    @include breakpoint(laptop){
                        font-size: 1rem;
                    }
                    &-button{
                        display:flex;
                        justify-content: flex-end;
                        width: 100%;
                        padding:1rem;
                        button{
                            background-color: #db3d44;
                            color:white;
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            -webkit-transition: ease-out 0.4s;
                            -moz-transition: ease-out 0.4s;
                            transition: ease-out 0.4s;
                            font-weight: 600; 
                        }
                        button:hover{
                            cursor:pointer;
                        }
                        button:hover{
                            box-shadow: inset 400px 0 0 0 $maincolor;
                        }
                    }
                    &-result{
                        width:150px;
                        @include breakpoint(mobile){
                            width: 70px;
                        }
                        
                        input{
                            width: 100%;
                            border: none;
                            background-color:$secondcolor;
                            color:white;
                            font-weight: 600;
                            font-size:0.9rem;
                            @include breakpoint(mobile){
                                font-size: 0.8rem;
                            }
                        }
                    }
                    &-result::after{
                        content: '';
                        display: block;
                        background-color: white;
                        width:150px;
                        height:2px;
                        @include breakpoint(mobile){
                            width: 70px;
                        }
                    }
                }
            }}
    }

}
.react-datepicker-wrapper{
    width:200px;
}
.react-datepicker-wrapper:hover{
    cursor:pointer;
}
.react-datepicker__input-container{
    width: 100%;
    margin:auto;
    input{
        width:100%;
        text-align: center;
        color:white;
        font-size:0.9rem;
        font-weight: 600;
        @include breakpoint(mobile){
            width: 200px;
        }
    }
    input:hover{
        cursor:pointer;
    }
}
