$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }
$pink: #E90B33;
$pink1:#ff6666;
$pink2:#ff4d4d;
$pink3:#ff0000;
.authenticatelogo{
    display:flex;
    width:50%;
    background-color:$pink;
    @include xl{
        display:none;
    }
    &__block{
        display:flex;
        width: 100%;
        height:100%;
        align-items: center;
        justify-content: center;
        @include xl{
            display:none;
        }
        &__circle1{
            display:flex;
            justify-content: center;
            align-items: center;
            position:relative;
            min-width: 500px;
            min-height: 500px;
            width:60%;
            height:60%;
            border-radius: 50%;
            background-color:$pink1;
        }
        &__circle2{
            
            width:80%;
            height:80%;
            
            border-radius: 50%;
            background-color:$pink2;
        }
        &__circle3{
            position:absolute;
            width:60%;
            height:60%;
            border-radius: 50%;
            background-color:$pink3;
        }
        &__circle4{
            position:absolute;
            width:40%;
            height:40%;
            border-radius: 50%;
            background-color:white;
            display:flex;
            align-items: center;
            justify-content: center;
            &-logo{
                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}