$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
.containerdefault{
    margin-left: 64px;
    min-height: 100vh;
    // height: 900px;
}
.containerlogin{
    height:100%;
    min-height: 100vh;
}
.makeStyles-root-1{
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: white;
    overflow-x: hidden;
    width:20ch;
    @include sm{
        width:50ch;
    }
    @include sm{
        width:40ch;
    }
}
// .makeStyles-root-2{
//     border-bottom-width: medium;
//     border-bottom-style: solid;
//     border-bottom-color: white;
//     overflow: hidden;
//     width:25ch;
//     @include sm{
//         width:50ch;
//     }
//     @include sm{
//         width:40ch;
//     }
// }