.displaymeasurements {
  margin-left: 4px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #1D3557;
}

@media screen and (max-width: 500px) {
  .displaymeasurements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.displaymeasurements-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2rem;
  height: 100px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .displaymeasurements-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .displaymeasurements-title {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    height: auto;
  }
}

.displaymeasurements__containers {
  color: white;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 64px);
  padding-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .displaymeasurements__containers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.displaymeasurements__containers__container {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin-right: 1rem;
  background-color: #457B9D;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  min-width: 300px;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container {
    min-width: 250px;
    margin-bottom: 1rem;
    margin-right: auto;
  }
}

.displaymeasurements__containers__container__elements {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container__elements {
    padding: 0.5rem;
  }
}

.displaymeasurements__containers__container__elements-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container__elements-date {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}

.displaymeasurements__containers__container__elements__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container__elements__element {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.displaymeasurements__containers__container__elements__element-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.4rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container__elements__element-delete {
    margin-bottom: 1rem;
  }
}

.displaymeasurements__containers__container__elements__element-delete button {
  background-color: #db3d44;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .displaymeasurements__containers__container__elements__element-delete button {
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
}

@media screen and (max-width: 900px) {
  .displaymeasurements__containers__container__elements__element-delete button {
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  }
}

.displaymeasurements__containers__container__elements__element-delete button:hover {
  cursor: pointer;
}

.displaymeasurements__containers__container__elements__element-delete button:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #1D3557;
          box-shadow: inset 400px 0 0 0 #1D3557;
}
/*# sourceMappingURL=displaymeasurements.css.map */