@mixin breakpoint($point){
    @if $point == mobile{
      @media screen  and (max-width:500px){@content;}
    }
    @else if $point == mobilebig{
        @media screen  and (max-width:700px){@content;}
    }
    @else if $point == laptop{
      @media screen  and (max-width:900px){@content;}
    }
    @else if $point == desktop{
      @media screen  and (max-width:1200px){@content;}
    }
    @else if $point == desktopsmall{
        @media screen and(max-width:1400px){@content;}
    }
    @else if $point == LGdesktop{
      @media screen and (min-width:1401px){@content;}
    }}
$maincolor: #1D3557;
$secondcolor:#457B9D;
.displaymeasurements{
    margin-left:4px;
    width:100%;
    height: 100%;
    min-height:100vh;
    background-color:$maincolor;
    @include breakpoint(mobile){
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    &-title{
        // padding-top:1rem;
        display:flex;
        justify-content: center;
        color:white;
        font-size:2rem;
        height:100px;
        text-align: center;
        // align-items: center;
        @include breakpoint(mobile){
            margin-top:1rem;
            margin-bottom:1rem;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 700;
            height:auto;
        }
        @include breakpoint(laptop){
            padding-top:1rem;
            margin-bottom:1rem;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 700;
            height:auto;
        }
        
    }
    &__containers{
        color:white;
        font-size:1.2rem;
        display:flex;
        flex-wrap:wrap;
        width: calc(100% - 64px);
        padding-left: 1rem;
        justify-content: center;
        @include breakpoint(mobile){
            margin-left:1rem;
        }
        @include breakpoint(laptop){
            justify-content: center;
            font-size: 1.1rem;
            font-weight: 600;
            
        }
        &__container{
            margin-top: 2rem;
            padding-top:1rem;
            padding-left:1rem;
            padding-right:1rem;
            padding-bottom: 2rem;
            margin-right: 1rem;
            background-color:$secondcolor;
            width:30%;
            display:flex;
            // height: 25%;
            height: 250px;
            min-width: 300px;
            @include breakpoint(mobile){
                min-width: 250px;
                margin-bottom :1rem;
                margin-right: auto;
            }
            &__elements{
                width:100%;
                @include breakpoint(mobile){
                    padding: 0.5rem;
                }
                &-date{
                    display:flex;
                    justify-content: center;
                    color:white;
                    font-weight: 700;
                    @include breakpoint(mobile){
                        font-size:1.1rem;
                        margin-bottom: 0.5rem;
                    }
                }
                &__element{
                    display:flex;
                    flex-wrap:nowrap;
                    justify-content: space-between;
                    @include breakpoint(mobile){
                        font-size: 0.9rem;
                        font-weight: 600;
                        
                    }
                    &-delete{
                        display:flex;
                        width: 100%;
                        justify-content: flex-end;
                        margin-bottom:0.4rem;
                        margin-top: 0.5rem;
                        @include breakpoint(mobile){
                            margin-bottom: 1rem;
                        }
                        button{
                            background-color: #db3d44;
                            color:white;
                            padding: 0.5rem 1rem 0.5rem 1rem;
                            -webkit-transition: ease-out 0.4s;
                            -moz-transition: ease-out 0.4s;
                            transition: ease-out 0.4s;
                            font-weight: 600;
                            @include breakpoint(mobile){
                                font-size: 0.8rem;
                                padding: 0.1rem 0.2rem 0.1rem 0.2rem;
                            }
                            @include breakpoint(laptop){
                                padding: 0.2rem 0.3rem 0.2rem 0.3rem;
                            }
                        }
                        button:hover{
                            cursor:pointer;
                        }
                        button:hover{
                            box-shadow: inset 400px 0 0 0 $maincolor;
                        }
                    }
                }
            }
        }
    }
}