$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin s {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }
$pink : #E90B33;
.login{
    margin:0;
    padding:0;
    display:flex;
    min-height: 100vh;
    width:100%;
    justify-content: center;
    &__firstcontainer{
        background-color:$pink;
        width:50%;
        flex:1;
        
    }
    &__secondcontainer{
        display:flex;
        width:50%;
        flex:1;
        flex-direction: column;
        padding:2rem;
        &__top{
            display:flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 700;
            &__back{
                display:flex;
                flex-direction: row;
                height:10%;
                width:100px;
                font-size: 18px;
                font-weight: 700;
                &-title{
                    margin-left:10px;
                    
                }
            }
            &__back:hover{
                cursor:pointer;
            }
            &__forward{
                display:flex;
                flex-direction: row;
                padding-right:10px;
                &-title{
                    margin-right:10px;
                    
                }
                
            }
            &__forward:hover{
                cursor:pointer;
            }
        }
        &__form{
            display:flex;
            height:90%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__username{
                &-password{
                    margin-bottom:3rem;
                }
                &-input{
                    margin-bottom:1rem;
            }
            }
            &__title{
                font-size:36px;
                font-weight:700;
                margin-bottom:2rem;
                font-family:'Public Sans'
            }
            &__secondtitle{
                font-weight:600;
                margin-bottom:3rem;
            }
            &__button{
                &-login{
                    padding:1rem;
                    background-color: $pink;
                    color:white;
                    font-size:1rem;
                    font-weight: 700;
                    width:100%;

                }
                &-login:hover{
                    cursor:pointer;

                }
                &-forget{
                    width:100%;
                    text-align: center;
                    color:gray;
                }
                &-forget:hover{
                    cursor:pointer;
                }
            }
            
        }

    }

}
.MuiTextField-root{
    @include s{
        width: 7cm !important;
    }
    @include lg{
        width: 15cm !important;
    }
    @include md{
        width: 15cm !important;
    }
    
    
}