//$pink: #E90B33;
$pink1: #db3d44;
//$pink: #FF5A5A;
$pink: #1D3557;
@mixin breakpoint($point){
    @if $point == mobile{
      @media screen  and (max-width:500px){@content;}
    }
    @else if $point == mobilebig{
        @media screen  and (max-width:700px){@content;}
    }
    @else if $point == laptop{
      @media screen  and (max-width:900px){@content;}
    }
    @else if $point == desktop{
      @media screen  and (max-width:1200px){@content;}
    }
    @else if $point == desktopsmall{
        @media screen and(max-width:1400px){@content;}
    }
    @else if $point == LGdesktop{
      @media screen and (min-width:1401px){@content;}
    }}
.training{
    background-color:$pink;
    padding:2rem;
    height:100%;
    display:flex;
    flex-direction: column;
    color:white;
    min-height:100vh;
    &__top{
        display:flex;
        justify-content: space-between;
        font-size:1.8rem;  
        font-weight: 600;
        @include breakpoint(laptop){
            font-size: 1.2rem;
        }
        @include breakpoint(mobile){
            font-size: 1rem;
        }
        
        
    }
    &__middle{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top:2rem;
        &__logotime{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            &-logo{
                padding-right:2rem;
                display: flex;
                align-items: center;
                @include breakpoint(laptop){
                    display: none;
                }
                @include breakpoint(mobile){
                    display:none;
                }
                img{
                    @include breakpoint(laptop){
                        width:100px;
                        height: 100px;
                    }
                    @include breakpoint(mobile){
                        width:100px;
                        height: 100px;
                    }
                }
            }
            &-time{
                font-size:5rem;
                @include breakpoint(laptop){
                    font-size: 1.8rem !important;
                }
                @include breakpoint(mobile){
                    font-size:1rem !important;
                }
                span{
                    @include breakpoint(laptop){
                        font-size: 2rem;
                    }
                    @include breakpoint(mobile){
                        font-size:1.5rem;
                    }
                }
                
            }
        }
        &-title{
            display:flex;
            justify-content: center;
            font-size:1.8rem;
            margin-bottom:2rem;
            @include breakpoint(laptop){
                font-size: 1.2rem;
                margin-bottom:1rem;
            }
            @include breakpoint(mobile){
                font-size:1rem;
                margin-bottom:0.8rem;
            }
        }
        &-exercise{
            display:flex;
            justify-content: center;
            font-size:2.4rem;
            font-weight: 600;
            @include breakpoint(laptop){
                font-size: 1.6rem;
                text-align: center;
            }
            @include breakpoint(mobile){
                font-size:1.3rem;
                text-align: center;
            }
        }
        &__series{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include breakpoint(laptop){
                margin-top:1rem;
            }
            @include breakpoint(mobile){
                margin-top: 0.6rem;
            }
            &-title{
                font-size:1.4rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size:1rem;
                }
            }
        }
    }
    &__bottom{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:2rem;
        @include breakpoint(laptop){
            font-size: 1rem;
        }
        @include breakpoint(mobile){
            margin-top: 0.6rem;
        }
        &__leftbutton{
            display:flex;
            justify-content:center;
            #endtraining{
                background-color:$pink1;
                height: 70px;
                color:white;
                font-size:1.2rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                }
            }
            #endtraining:hover{
                cursor:pointer;
            }
        }
        &__weight{
            &-title{
                display:flex;
                justify-content: center;
                font-size:1.8rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                }
            }
            &-title2{
                display:flex;
                justify-content: center;
                font-size:1.8rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                }
            }
        }
        &__phase{
            text-align: center;
            &-title{
                display:flex;
                justify-content: center;
                font-size:1.8rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size: 0.8rem;
                }
            }
            &__allphases{
                margin-top:1rem;
                display:flex;
                flex-direction: row;
                font-size:1.8rem;
                justify-content: center;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                    margin:0;
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                    margin:0;
                }
            }
            &-title2{
                margin-top:1rem;
                font-size:1.8rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.2rem;
                    width: 150px;
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                    width: 100px;

                }
            }
            &__reps{
                display:flex;
                flex-direction:row;
                justify-content: center;
                font-size:2rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size: 1.4rem;
                    width: 150px;
                }
                @include breakpoint(mobile){
                    font-size:1.2rem;
                    width: 100px;
                }
                &-actualreps{
                    
                    #actualreps{
                        background-color:$pink;
                        font-size:1.6rem;
                        border:none;
                        width: 60px;
                        color:white;
                        font-weight: 600;
                        @include breakpoint(laptop){
                            font-size:1.4rem;
                            text-align: center;
                        }
                        @include breakpoint(mobile){
                            font-size:1.2rem;
                            text-align: center;
                        }
                    }
                }
                &-actualreps:after{
                    display:block;
                    content:"";
                    width: 60px;
                    height:2px;
                    background-color:white;
                    @include breakpoint(laptop){
                        font-size:1.2rem;
                    }
                    @include breakpoint(mobile){
                        font-size:0.8rem;
                    }
                }
            }
        }
        &__rightbutton{
            display:flex;
            justify-content:center;
            #nextexercise{
                background-color:$pink1;
                height: 70px;
                color:white;
                font-size:1.2rem;
                font-weight: 600;
                @include breakpoint(laptop){
                    font-size:1rem;
                    
                }
                @include breakpoint(mobile){
                    font-size:0.8rem;
                }
            }
            #nextexercise:hover{
                cursor:pointer;
            }
        }
        
    }
}

.stopwatch__timer{
    @include breakpoint(laptop){
        font-size:1.2rem !important;
        font-weight: 600;
        
    }
    @include breakpoint(mobile){
        font-size:1.8rem !important;
        font-weight: 600;
    }
}
.stopwatchbuttons{
    display:flex;
    justify-content: space-between;
    margin-top:2rem;
    @include breakpoint(laptop){
        margin-top: 1rem;
    }
    @include breakpoint(mobile){
        margin-top: 0.5rem;
    }
    #start{
        background-color:$pink1;
        color:white;
        font-size:1.2rem;
        font-weight: 600;
        padding:0px 20px 0px 20px;
        @include breakpoint(laptop){
            font-size: 1rem;
        }
        @include breakpoint(mobile){
            font-size:0.8rem;
        }
    }
    #start:hover{
        cursor:pointer;
    }
    #pause{
        background-color:$pink1;
        color:white;
        font-size:1.2rem;
        font-weight: 600;
        padding:0px 20px 0px 20px;
        @include breakpoint(laptop){
            font-size:1rem;
            margin-left:0.5rem;
        }
        @include breakpoint(mobile){
            font-size:0.8rem;
            margin-left:0.5rem;
        }
    }
    #pause:hover{
        cursor:pointer;
    }
    #reset{
        background-color:$pink1;
        color:white;
        font-size:1.2rem;
        font-weight: 600;
        padding:0px 20px 0px 20px;
        @include breakpoint(laptop){
            font-size:1rem;
            padding:10px 10px 10px 10px;
            margin-left:0.5rem;
        }
        @include breakpoint(mobile){
            font-size:0.8rem;
            padding:10px 10px 10px 10px;
            margin-left:0.5rem;
        }
    }
    #reset:hover{
        cursor:pointer;
    }
}