.achievements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &__title{
    padding-top: 2rem;
    padding-bottom:2rem;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    &__result{
      font-weight: 700;
      text-align: end;
      min-width: 50%;
      font-size: 1.2rem;
    }
  }

  &__list {
    list-style: none;
    border: 2px solid orange;
    border-bottom: 1px solid orange;
    padding: 10px;
    min-width: 50%;
    text-align: start;
    &--normal{
      background-color: rgba(0, 0, 0, .4);
    }

    &__achieved {
      color: #909090;
    }
  }
}

.list-achievements{
  &__container{
    display:flex;
    flex-direction: row;
  }
  &__image{
    height:100%;
    width:150px;
  }
  &__text{
    padding-left:20px;
  }
}

//.notachieved {
//  background-color: rgba(0, 0, 0, .2);
//}