.settings{
  min-height: 100vh;
  padding: 0 10px 0 10px;
  &__title{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  &__container{
    display:flex;
    &__menu{
      width: 100px;
      text-align: center;
      border-right: 2px solid white;
      &__element{
        padding: 15px 5px 15px;
        border-bottom: 2px solid white;
        :hover{
          cursor: pointer;
        }
      }
    }
    &__options{
      width: 100%;
      padding-left: 10px;
    }
  }
  &__accept-button{
    display:flex;
    justify-content: end;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}