@import "settings.scss";

.settings {
  min-height: 100vh;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  &__container {
    display: flex;

    &__menu {
      width: 100px;
      text-align: center;
      border-right: 2px solid white;

      &__element {
        padding: 15px 5px 15px;
        border-bottom: 2px solid white;


        :hover {
          cursor: pointer;
        }
      }
    }

    &__options {
      width: 100%;
      padding-left: 10px;
    }
  }

  &__accept-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  &__dimensions {
    &__elements {
      div:nth-child(odd) {
        background-color: $main_color;
        padding-left: 3rem;


      }

      div:nth-child(even) {
        background-color: $light_main_color;
        padding-left: 3rem;
      }
    }

    &__element {
      padding: 0.3rem;
      border-bottom: 1px solid white;
      font-size: 1.1rem;
      :hover{
        cursor: pointer;
      }

      input {
        :hover {
          cursor: pointer;
        }
      }

      label {
        :hover {
          cursor: pointer;
        }
      }


    }
  }
}

.menu {
  display: flex;
  justify-content: center;

  &__options {
    padding: 1rem;
    border: 2px solid white;

    @include breakpoint(mobilebig) {
      width: 350px;
      min-width: 400px;
      height: 520px;

    }
  }

  &__elements {
    display: flex;
  }

  &__choices {
    border-right: 2px solid white;

  }
}

.choices {
  border: 2px solid white;
  border-right: none;

  &__element {
    padding: 1rem 1rem 1.4rem;
    //padding-bottom: 1.4rem;
    //padding-right: 1rem;
    //padding-top: 1rem;
    //padding-left: 1rem;
    border-bottom: 1px solid white;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

  }
}