@import "settings.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  background: transparent;
  min-height: 100vh;
  padding: 0 10px 0;
  &__date{
    font-size: 1.2rem;
    font-weight: 500;
  }
  &__name{
  font-size: 1.3rem;
    font-weight: 600;
  }
  &__buttons{
    display:flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1rem;

  }
  &__button {
    background: transparent;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    margin-left:1rem;

    &:hover {
      cursor: pointer;
      color: $colar_pink;
    }
  }
  &__error-message{
    text-align: center;
    font-weight: 500;
  }

  &__title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: $colar_pink;
  }

  &__main-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include breakpoint("laptop") {
      flex-direction: row;
    }
  }
}

.main-information {
  min-height: 100vh;
  &__upcoming-trainings {
    flex: 1;
    @include breakpoint("laptop") {
      border-right: 1px solid white;
      padding: 0 10px 0;
    }
  }

  &__completed-trainings {
    flex: 1;
    @include breakpoint("laptop") {
      border-right: 1px solid white;
      padding: 0 10px 0;
    }
  }

  &__last-dimension {
    flex: 1;
  }
}

.upcoming-trainings {
  &__title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: $colar_pink;
  }
}

.completed-trainings {
  //&__title {
  //  font-size: 1.2rem;
  //  font-weight: 500;
  //  text-align: center;
  //  margin-top: 1rem;
  //  margin-bottom: 2rem;
  //  color: $colar_pink;
  //}
  //
  //&__button {
  //  background: transparent;
  //  color: white;
  //  border: none;
  //
  //  &:hover {
  //    cursor: pointer;
  //    color: $colar_pink;
  //  }
  //}
}

.last-dimension {
  //&__title {
  //  font-size: 1.2rem;
  //  font-weight: 500;
  //  text-align: center;
  //  margin-top: 1rem;
  //  margin-bottom: 2rem;
  //  color: $colar_pink;
  //}
}