@import "settings.scss";

.goals {
  min-height: 100vh;
  padding: 0 10px 0 10px;
  &__info{
    text-align: center;
  }

  &--unrealized {
    width: 100%;
    @include breakpoint(laptop) {
      width: 50%;
      padding: 0 20px 0;
      border-right: 2px solid $beige;
    }
  }

  &--realized {
    width: 100%;
    @include breakpoint(laptop) {
      width: 50%;
      padding: 0 20px 0;
    }
  }

  @include breakpoint(laptop) {
    display: flex;
    flex-direction: row;
  }

  &--hr {
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &__button {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
  }

  &__date {
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__element {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__check {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $beige;
  }
}
.inputs{
  &__goal-completed{
    padding-left: 1rem;
    text-align: start;
  }
}