.notification {
  background: #001233;
  border: 2px solid orange;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  word-wrap: break-word;
  &__icon{
    display:flex;
    justify-content: end;
  }
  &__message{
    font-size: 1rem;
    font-weight: 600;
  }
}

.notification-container{
  position: absolute;
  top: 0;
  right: 0;
}

.notification p {
  margin: 0;
}

.notification button {
  //position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}
