@import "settings.scss";

.training {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10px 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.2rem 1rem 1.2rem;
  @include breakpoint(mobilebig) {
      font-size: 1.4rem;
    }
    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
}

.stoper {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__label {
    font-size: 1.6rem;
    font-weight: 600;
    @include breakpoint(mobilebig) {
      font-size: 2rem;
    }
    @include breakpoint(tablet) {
      font-size: 2.5rem;
    }
  }

  &__name {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    @include breakpoint(mobilebig) {
      font-size: 2.4rem;
    }
    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.row {
  &__label {
    font-size: 1.6rem;
    font-weight: 600;
    @include breakpoint(mobilebig) {
      font-size: 1.6rem;
    }
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
  }

  &__name {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    @include breakpoint(mobilebig) {
      font-size: 2rem;
    }
    @include breakpoint(tablet) {
      font-size: 2.3rem;
    }
  }
}

.modify-data {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  @include breakpoint(mobilebig) {
      font-size: 2rem;
    }
    @include breakpoint(tablet) {
      font-size: 2.3rem;
    }

  &__input {
    text-align: center;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    width: 50px;
  }

}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  @include breakpoint(mobilebig) {
      font-size: 1.5rem;
    }
    @include breakpoint(tablet) {
      font-size: 1.8rem;
    }
}