.addmeasurements {
  background-color: #1D3557;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.addmeasurements-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 1rem 0rem 1rem;
}

.addmeasurements__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .addmeasurements__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.addmeasurements__container__oldmeasurementscontainer {
  background-color: #457B9D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  min-width: 250px;
  width: 500px;
  margin-right: 2rem;
  height: 450px;
}

@media screen and (max-width: 900px) {
  .addmeasurements__container__oldmeasurementscontainer {
    width: auto;
    margin-top: 6rem;
  }
}

.addmeasurements__container__oldmeasurementscontainer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.addmeasurements__container__oldmeasurementscontainer__data {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addmeasurements__container__oldmeasurementscontainer__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.addmeasurements__container__oldmeasurementscontainer__elements__element {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addmeasurements__container__oldmeasurementscontainer__elements__element-result {
  width: 70px;
  text-align: center;
}

.addmeasurements__container__oldmeasurementscontainer__elements__element-result::after {
  content: '';
  display: block;
  background-color: white;
  width: 70px;
  height: 2px;
}

.addmeasurements__container__newmeasurementscontainer {
  background-color: #457B9D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  width: 500px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  .addmeasurements__container__newmeasurementscontainer {
    width: auto;
    min-width: 200px;
    margin-top: 2rem;
  }
}

.addmeasurements__container__newmeasurementscontainer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.addmeasurements__container__newmeasurementscontainer__data {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addmeasurements__container__newmeasurementscontainer__data-input {
  display: block;
}

.addmeasurements__container__newmeasurementscontainer__data-input::after {
  display: block;
  content: "";
  background-color: white;
  width: 200px;
  height: 2px;
}

.addmeasurements__container__newmeasurementscontainer__data input {
  background-color: #457B9D;
  border: none;
}

.addmeasurements__container__newmeasurementscontainer__data input::after {
  content: "";
  width: 200px;
  height: 2px;
}

.addmeasurements__container__newmeasurementscontainer-data::after {
  content: "";
  background-color: white;
  width: 200px;
  height: 2px;
}

.addmeasurements__container__newmeasurementscontainer__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.addmeasurements__container__newmeasurementscontainer__elements__element {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding: 1rem;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-button button {
  background-color: #db3d44;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-weight: 600;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-button button:hover {
  cursor: pointer;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-button button:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #1D3557;
          box-shadow: inset 400px 0 0 0 #1D3557;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-result {
  width: 150px;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-result input {
  width: 100%;
  border: none;
  background-color: #457B9D;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.addmeasurements__container__newmeasurementscontainer__elements__element-result::after {
  content: '';
  display: block;
  background-color: white;
  width: 150px;
  height: 2px;
}

.react-datepicker-wrapper {
  width: 200px;
}

.react-datepicker-wrapper:hover {
  cursor: pointer;
}

.react-datepicker__input-container {
  width: 100%;
  margin: auto;
}

.react-datepicker__input-container input {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

.react-datepicker__input-container input:hover {
  cursor: pointer;
}
/*# sourceMappingURL=addmeasurements.css.map */