.training {
  background-color: #1D3557;
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  min-height: 100vh;
}

.training__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
}

.training__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.training__middle__logotime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.training__middle__logotime-logo {
  padding-right: 2rem;
}

.training__middle__logotime-time {
  font-size: 5rem;
}

.training__middle-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.training__middle-exercise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4rem;
}

.training__middle__series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training__middle__series-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.training__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

.training__bottom__leftbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.training__bottom__leftbutton #endtraining {
  background-color: #db3d44;
  height: 70px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.training__bottom__leftbutton #endtraining:hover {
  cursor: pointer;
}

.training__bottom__weight-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.training__bottom__weight-title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.training__bottom__phase-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.training__bottom__phase__allphases {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.training__bottom__phase-title2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.training__bottom__phase__reps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.training__bottom__phase__reps-actualreps #actualreps {
  background-color: #1D3557;
  font-size: 1.6rem;
  border: none;
  width: 60px;
  color: white;
  font-weight: 600;
}

.training__bottom__phase__reps-actualreps:after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: white;
}

.training__bottom__rightbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.training__bottom__rightbutton #nextexercise {
  background-color: #db3d44;
  height: 70px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.training__bottom__rightbutton #nextexercise:hover {
  cursor: pointer;
}

.stopwatchbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.stopwatchbuttons #start {
  background-color: #db3d44;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0px 20px 0px 20px;
}

.stopwatchbuttons #start:hover {
  cursor: pointer;
}

.stopwatchbuttons #pause {
  background-color: #db3d44;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0px 20px 0px 20px;
}

.stopwatchbuttons #pause:hover {
  cursor: pointer;
}

.stopwatchbuttons #reset {
  background-color: #db3d44;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0px 20px 0px 20px;
}

.stopwatchbuttons #reset:hover {
  cursor: pointer;
}
/*# sourceMappingURL=training.css.map */