.DS_Store
*.swp
*~

.env
.git
*.local

build/
dist/
*.log
*.pid
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3


venv/
env/
__pycache__/


.idea/
.vscode/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.eggs/
.eggs/
*.egg-info/
*.egg
.tox/
.cache/
*.par

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


nginx/conf.d/*.log
nginx/logs/
nginx/cache/

tmp/
temp/
logs/